<div id="grid">
  <div class="inner_grid">
    <div class="grid_box left_side_box odd_row">
      <div class="grid_image bene1"></div>
      <div class="grid_content_wrap">      
        <h3>Free Data Analysis, Free Reports.</h3>
        <p>We know we can help you. Sign up for a free 
        trial and we’ll let you test-drive the system, 
        and quantify just how much you can save.</p>
      </div>
    </div>
    <div class="grid_box right_side_box odd_row">
      <div class="grid_image bene2"></div>
      <div class="grid_content_wrap">      
        <h3>Clinical Validation = Better Results.</h3>
        <p>Only HCI provides clinical validation on suspect 
        claims by licensed clinicians (RN, MD, DDS, etc.)
        You get fewer false positives and better results.</p>
      </div>
    </div>
    <div class="grid_box left_side_box even_row">
      <div class="grid_image bene3"></div>
      <div class="grid_content_wrap">      
        <h3>Prepayment Saves Time, Money.</h3>
        <p>Each HCI SaaS solution lives in a prepayment,
        post-adjudication environment. Why? Because 
        &#8220;pay and chase&#8221; can waste time and money.</p>
      </div>
    </div>
    <div class="grid_box right_side_box even_row">
      <div class="grid_image bene4"></div>
      <div class="grid_content_wrap">      
        <h3>Total Customization, Satisfaction.</h3>
        <p>No two payors are the same. Our solutions 
        allow you to customize nearly every aspect.  
        This gives you greater control and happiness.</p>
      </div>
    </div>
    <div class="grid_box left_side_box odd_row">
      <div class="grid_image bene5"></div>
      <div class="grid_content_wrap">      
        <h3>On-Demand Reports, Information.</h3>
        <p>Create and schedule custom or preset reports 
        with our On-Demand reporting module. You  
        get instant information and instant satisfaction.</p>
      </div>
    </div>
    <div class="grid_box right_side_box odd_row">
      <div class="grid_image bene6"></div>
      <div class="grid_content_wrap">      
        <h3>Dashboards, KPIs Drive Success.</h3>
        <p>Our customizable roles-based dashboards 
        display KPIs, alerts and more. View savings, 
        claims and other critical information real-time.</p>
      </div>
    </div>
    <div class="grid_box left_side_box even_row">
      <div class="grid_image bene12"></div>
      <div class="grid_content_wrap">      
        <h3>Exceptional Support, Included.</h3>
        <p>We give you round-the-clock support from 
        clinicians, coders and investigators. We help 
        you with appeals, custom reports and more.</p>
      </div>
    </div>
    <div class="grid_box right_side_box even_row">
      <div class="grid_image bene13"></div>
      <div class="grid_content_wrap">      
        <h3>Real-Time Processing, Fast Return.</h3>
        <p>
          You don’t have time for slow payments. 
          That’s why our real-time application sends all 
          clean claims back in minutes. No more delays.
        </p>
      </div>
    </div>
    <div class="grid_box left_side_box odd_row last_row">
      <div class="grid_image bene7"></div>
      <div class="grid_content_wrap">      
        <h3>SaaS Saves Headaches and Cash.</h3>
        <p>No more licensing fees, upgrade fees, user fees 
        and long implementations. Our web-based SaaS solutions install fast and save money.</p>
      </div>
    </div>
    <div class="grid_box right_side_box odd_row last_row">
      <div class="grid_image bene8"></div>
      <div class="grid_content_wrap">      
        <h3>Profiling and Editing, All in One.</h3>
        <p>
          Unlike other services, we bundle powerful
          claims editing and fraud prevention in one
          comprehensive payment integrity solution.
        </p>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>