<div id="slider" class="nucleus_banner">
  <div class="scroll">
    <div class="scrollContainer">
      
      <div id="panel1" class="panel">
        
        <%= image_tag("/images/banners/contact_thank_you_banner.png") %>
        
        <div class="hidden">
          <h2>Thank You</h2>
        </div>
        
        <div class="big_banner_content_wrap">
          <h2>An HCI Specialist will contact you shortly</h2>
          <p>
      At HealthCare Insight your voice is important to us. We appreciate you effort and taking the time to fill out our form. We will respond to your inquiry as soon as possible. Please take a moment to check out our other great health care resources.
          </p>
        </div>
        
      </div>
      
   </div>
  </div>
</div>