<div id="cta_bar" class="service_cta_bar">
  <div class="cta_button cta_nucleus highlight"><%= link_to "Meet Nucleus", nucleus_path %></div>
  <div class="cta_button cta_more_info highlight"><%= link_to "More Info", APP['free_trial_landing_page'] %></div>
</div>