<div id="slider" class="index_banner">
  <div class="scroll">
    <div class="scrollContainer">
      <%#= render :partial => 'health_care/main_banners', :locals => {:banner => @banner} %>
      <%= render :partial => 'shared/banners/nucleus_index_banners' %>
    </div>
  </div>
  <%= render :partial => 'shared/banners/index_banner_nav' %>
</div>