<div id="slider" class="nucleus_banner">
  <div class="scroll">
    <div class="scrollContainer">
      <div id="panel1" class="panel">
        <div class="hidden">
          <h2 class="nucleus_tag_header">[ Explore ] your own element</h2>
          <p class="nucleus_tag_copy">Fully customizable, the elements of Nucleus can be combined in a virtually infinite number of possibilities. 
          <%= link_to "View Microsite", "http://www.get-nucleus.com", :target => "_blank"  %>
          </p>
        </div>
        <%= link_to "View Microsite", "http://www.get-nucleus.com", :target => "_blank", :class => "nucleus_banner_link"  %>
        <%= image_tag("/images/banners/nucleus_banner.png") %>
      </div>
   </div>
  </div>
</div>