<div class="inner_banners">
  <%= image_tag "/images/banners/#{s.permalink}_banner.png", :alt => "Stop Fraud Now", :class => "inner_banner" %>
  <%= render :partial => 'shared/banners/service_cta_bar', :locals => {:s => s} %>
</div>
