<div id="cta_bar" class="service_cta_bar">
  <div class="cta_button cta_nucleus <%= s.permalink %>_demo_button highlight"><%= link_to "Meet Nucleus", nucleus_path %></div>
  <div class="cta_button cta_more_info <%= s.permalink %>_trial_button highlight"><%= link_to "More Info", "#{s.landing_link}" %></div>
</div>