<div id="inner_banner_short" class="grid_12 alpha omega">
  <div id="banner1">
    <%= image_tag "banners/inner_banners/service_banner2.png", :alt => "HealthCare Insight Services" %>
  </div>
  <%#= render :partial => "layouts/cta_bar" %>
</div>
