<div class="inner_banners">
  <%= image_tag "banners/#{page}_banner.png", :alt => "HealthCare Insight Benefits" %>
  <div class="short_banner_video">
    <%= link_to(image_tag('general/nucleus_launch_banner.png'), box_video("nhcaa"), :class => "main_link overlay_link", :rel => "div.overlay") %>
  </div>
</div>