<h2 class="<%= acromyn %>_color title">
  Special investigation units require special tracking tools. We give you CaseTracker Insight&reg;
</h2>
<p>
  We’ve taken a complex problem and simplified
  it. CTI gives you feature rich case tracking
  that’s seamlessly integrated with the industry’s
  most advanced payment integrity platform.
  Easily follow cases from start to finish and
  simplify your case investigation workflow. 
</p>
<%= render :partial => 'shared/quotes/small_quote', :locals => {:color => 'purple', :s => s, :quote => quote} %>