<div class="solution_bene left">
  <h3><b>Pay Right. Save Money</b></h3>
  <p>Stop health care fraud, abuse and waste. Increase profits and payment accuracy.</p>
</div>
<div class="solution_bene left">
  <h3><b>Get CaseTracker. Get Results.</b></h3>
  <p>Save time and increase user efficiency. Document case progress and status.</p>
</div>
<div class="solution_bene left">
  <h3><b>Save Time. Go Prepayment.</b></h3>
  <p>Track daily activity, to-do lists and expenses. Refer casework to assigned investigators.</p>
</div>
<div class="solution_bene left">
  <h3><b>Smart Models. Smarter Software.</b></h3>
  <p>Get the most advanced case tracking tools and SaaS applications available.</p>
</div>
<div class="solution_bene left">
  <h3><b>Better Support. Better Service.</b></h3>
  <p>Oversee staff activities and results. Support enterprise-level reporting and analysis.</p>
</div>
<div class="solution_bene left">
  <h3><b>Total Customization. Totally You.</b></h3>
  <p>No two cases are alike. Customize your case tracking workflow down to the last element.</p>
</div>
<div class="solution_bene left">
  <h3><b>Real Fast, Real-Time Processing.</b></h3>
  <p>You don’t have time to hold up processing. Compile detailed stats for each assignment.</p>
</div>
<div class="solution_bene left">
  <h3><b>Fraud and Editing. All in One.</b></h3>
  <p>Unlike others, we bundle case tracking and case referral into one solution.</p>
</div>