<h2 class="<%= acromyn %>_color title">
  Start paying facility claims the right way, today.<br/>
  Stop fraud, elevate accuracy and save money. 
</h2>
<p>
  FacilityClaim Insight<sup>&reg;</sup> is a prepayment fraud, abuse and overpayment prevention service. It’s designed to help you elevate claims payment accuracy, identify fraudulent providers and decrease facility claims costs. With our advanced Code Validator Pro<sup>&reg;</sup> (rules-based), Fraud Finder Pro<sup>&reg;</sup> (profiling) and claims re-pricing software systems, you get better technology. With our AHIMA-credentialed examiners, investigators and skilled negotiators, you get better results.  
</p>
<%= render :partial => 'shared/quotes/small_quote', :locals => {:color => 'red', :s => s, :quote => quote} %>
