<div class="solution_bene left">
  <h3><b>Pay Right. Save Money</b></h3>
  <p>Decrease targeted claim costs by up to 20% off payable charges, or $4 PMPM.</p>
</div>
<div class="solution_bene left">
  <h3><b>Get a Clinician. Get Results.</b></h3>
  <p>Our clinical validation process delivers less false positives and better results.</p>
</div>
<div class="solution_bene left">
  <h3><b>Save Time. Go Prepayment.</b></h3>
  <p>Avoid &#8220;pay and chase&#8221; detection with prepayment analysis on 100% of claims.</p>
</div>
<div class="solution_bene left">
  <h3><b>Smart Models. Smarter Software.</b></h3>
  <p>Get access to the most advanced fraud models and SaaS applications available.</p>
</div>
<div class="solution_bene left">
  <h3><b>Better Support. Better Service.</b></h3>
  <p>Get help from licensed nurses and coders. Get appeals support, reporting and more.</p>
</div>
<div class="solution_bene left">
  <h3><b>Total Customization. Totally You.</b></h3>
  <p>No two payors are alike. Customize your fraud solution down to the last bit and byte.</p>
</div>
<div class="solution_bene left">
  <h3><b>Real Fast, Rapid Processing.</b></h3>
  <p>You don’t have time to hold up processing. Get rapid protection with real results.</p>
</div>
<div class="solution_bene left">
  <h3><b>Fraud and Editing. All in One.</b></h3>
  <p>Unilke others, we bundle supplemental editing and fraud prevention in one solution.</p>
</div>