<h2 class="<%= acromyn %>_color title">
  Start paying oncology claims the right way.<br/> 
  Stop waste, enhance care and save money.  
</h2>
<p>
OncologyClaim Insight<sup>&reg;</sup>, powered by Biologics, Inc., is a comprehensive cancer management strategy featuring prepayment patient care and overpayment prevention services. It’s designed to help you enhance patient care, improve patient outcomes, increase provider satisfaction and manage oncology claim costs. With our advanced targeted claim and case applications, you get access to better technology. With our clinical oncology expertise and skilled oncology coding specialists, you get better results and improved patient care.  
</p>
<%= render :partial => 'shared/quotes/small_quote', :locals => {:color => 'yellow', :s => s, :quote => quote} %>