<div class="solution_bene left">
  <h3><b>Pay Right. Save Money.</b></h3>
  <p>Manage costs with a cancer-specific<br/> strategy currently delivering an 8:1 ROI.</p>
</div>
<div class="solution_bene left">
  <h3><b>Cancer Expertise. Enhanced Care.</b></h3>
  <p>Minimize unplanned care with added patient support from Oncology Certified Nurses.</p>
</div>
<div class="solution_bene left">
  <h3><b>Go Pre-payment. Be Accurate.</b></h3>
  <p>Ensure accurate payment of claims and drugs with prepayment review.</p>
</div>
<div class="solution_bene left">
  <h3><b>Smart Models. Smarter Software.</b></h3>
  <p>Access the most advanced Payment Integrity Platform in the health industry.</p>
</div>
<div class="solution_bene left">
  <h3><b>Expert Oncologist Advisors.</b></h3>
  <p>Get access to an expert oncologist advisory panel to help answer tough questions.</p>
</div>
<div class="solution_bene left">
  <h3><b>Detailed Analysis. Proven Value. </b></h3>
  <p>Demonstrate savings with monthly and biannual program performance reports.</p>
</div>
<div class="solution_bene left">
  <h3><b>Clinical Focus = More Savings.</b></h3>
  <p>Prospectively validate that the plan of treatment meets evidence-based guidelines.</p>
</div>
<div class="solution_bene left">
  <h3><b>Powered by Biologics, Inc.</b></h3>
  <p>This service is powered by Biologics, Inc.,<br/> the leader in cancer management.</p>
</div>