<h2 class="<%= acromyn %>_color title">
  Start paying professional claims the right way.<br/>
  Stop fraud, boost accuracy and save money.
</h2>
<p>
  PhysicianClaim Insight<sup>&reg;</sup> is a prepayment fraud, abuse and overpayment prevention service. It’s designed to help you maximize claims payment accuracy, identify fraudulent providers and reduce professional claims costs. By combining our advanced Code Validator Pro<sup>&reg;</sup> (rules-based) and Fraud Finder Pro<sup>&reg;</sup> (profiling) software systems, you get access to better technology. By relying on experienced clinicians and investigators for claim and provider validation, you get better results. 
</p>
<%= render :partial => 'shared/quotes/small_quote', :locals => {:color => 'green', :s => s, :quote => quote} %>
