<h2 class="<%= acromyn %>_color title">
  Start paying pharmacy claims the right way.<br/> 
  Stop fraud, boost accuracy and save money.
</h2>
<p>
 PharmaClaim Insight<sup>&reg;</sup> is a prepayment fraud, abuse and overpayment prevention service. It’s designed to help you strengthen claims payment accuracy, isolate fraudulent providers and reduce pharmacy claims costs. By combining our advanced Code Validator Pro<sup>&reg;</sup> (rules-based) and Fraud Finder Pro<sup>&reg;</sup> (profiling) software systems, you get access to better technology. By relying on our experienced clinicians for suspect claim and provider validation, you get better results.   
</p>
<%= render :partial => 'shared/quotes/small_quote', :locals => {:color => 'dark_blue', :s => s, :quote => quote} %>
