<div class="pro_sol_boxes solution_box <%= acronym %>_sol_box_bg">
  <h2 class="thick_thin_header"><span>THE</span> Solution</h2>
  <div class="solution_grid">
    <%= render :partial => "shared/service_pages/#{acronym}_sol_grid" %>
    <div class="clear"></div>
  </div>
</div>