<div class="full_row">
  <div class="about_us_box_image_wrap left">
    <%= image_tag("general/hci_building.png") %>
  </div>

    <div class="about_box">
      <h2 class="blue">Our Mission.</h2>
      <div class="inner_about_box">
        <p>
          Our mission is to stop fraud and 
          waste in health care, continually 
          develop innovative and clinically  
          validated cost reduction services 
          and provide unparalleled customer 
          service and support to our clients.
        </p>
        <div class="bottom_image box_1"></div>
      </div>
    </div>
  

    <div class="about_box">
      <h2 class="blue">Our Philosophy.</h2>
      <div class="inner_about_box">
        <p>
          We believe that you deserve the
          best and we promise to deliver it.  
          We believe you deserve better.  
          Better software, better analytics, 
          better clinicians, better service, 
          better care and better results.
        </p>
        <div class="bottom_image box_2"></div>
      </div>
    </div>

    <div class="about_box">
      <h2 class="blue">Our Values.</h2>
      <div class="inner_about_box">
        <p>
          We value honesty, integrity, ethics, 
          kindness and respect. We value 
          collaboration, innovation, passion
          and outside-the-box thinking. We 
          demand superior service, products
          and responsible management of 
          data entrusted to our care.
        </p>
        <div class="bottom_image box_3"></div>
      </div>
    </div>

</div>