<div class="full_row">
  <div class="column_2">    
    <h2 class="blue">Our Leadership</h2>
    <p>
      We’ve got the brightest minds in the business steering the ship and we know you’ll enjoy working with our passionate and magnetic team. Below are just a few of the incredibly talented members of our leadership group - see and review individual bios below.
    </p>
  </div>
  <div class="column_2">
    <h2 class="blue">Our History</h2>
    <p>
      HCI was conceived and launched by great minds with a desire to fill a void
      in the health care industry. In 1997 we opened our doors for business with 
      a focus on reducing fraud, waste and abuse by using technology and clinical
      validation. Since that time we have joined the Verisk Analytics (VRSK on 
      Nasdaq) family and evolved into a market leader with suite of payment 
      integrity solutions powered by clinicians. Relive some key moments below.
    </p>
  </div>
</div>