<div class="full_row">
  <div class="column_2">    
    <h2 class="blue">Our Leadership</h2>
    <p>
      We’ve got the brightest minds in the business steering the ship and we know you’ll enjoy working with our passionate and magnetic team. Below are just a few of the incredibly talented members of our leadership group - see and review individual bios below.
    </p>
  </div>
  <div class="column_2">
    <h2 class="blue">Our History</h2>
    <p class="about_us_right">
      HCI and Bloodhound Technologies were launched in 1997 by great minds with a desire to fill a void in the healthcare industry. From inception, the focus has been on developing products that reduce fraud, waste and abuse, contain costs and increase efficiency. Since that time we have joined the Verisk Analytics (VRSK on Nasdaq) family as the Payment Accuracy Division of Verisk Health, an industry leader in risk management and payment integrity. Relive some key moments below.
    </p>
  </div>
</div>