<% content_for :banner do %>
	<%= image_tag('verisk/banners/bill_banner.png') %>
	<%= demo %>
<% end %>

<div id="service_mid_section" class="bill_review">
  <div class="service_mid_section_image"></div>
  <div class="service_mid_section_content">
    <h2 class="title">
    	Insight From Our Experience.
		</h2>
		<p>
		 Sophisticated technology, improved user experiences and analytical proficiency are only a part of the payment accuracy ecosystem. To complete the circle, the human element needed be infused: the trained eye; deep investigative experience; rationale and reasoning. Because to design the perfect payment accuracy solution, it takes more than artificial intelligence, it takes human experience.   
		</p>
		<div id="small_quote">
		  <div class="quote1 blue claims">
		    "Our customers using this solution consistently
		    realize facility claim savings of 15-30%"
		    <!-- <span class="row_3"></span> -->
		  </div>
  		<div class="quote_signature">- Darin Johnson, Vice President, Marketing</div>
		</div>
  </div>
</div>

<div id="problem_solution_boxes">
  <div class="pro_sol_boxes_bill problem_box">
  	<h2 class="thick_thin_header">The Problem</h2>
  	<p>It takes more than technology to contain healthcare costs. You need experience, intelligence and expertise. And that’s where we come in. As you can see, the human element is critical to your payment accuracy because there are still some areas even the most innovative of technologies can’t replace.</p>
  	<div class="graph_box bill_graph"></div>
	</div>

	<div class="pro_sol_boxes_bill solution_box dci_sol_box_bg">
	  <h2 class="thick_thin_header">The Solution</h2>
	  <div class="solution_grid">
			<div class="solution_bene left">
			  <h3><b>Features</b></h3>
				<ul>
					<li>
						Forensic facility bill negotiations
					</li>
					<li>
						Clinical review of all suspect claims and providers
					</li>
					<li>
						DRG audit, validation and repricing services
					</li>
					<li>
						Outsourced Special Investigative Unit (SIU)
					</li>
					<li>
						Fee negotiation by industry professionals
					</li>
					<li>
						Forensic line-item analysis of high dollar claims
					</li>
					<li>
						Catastrophic claims review
					</li>
				</ul>
			</div>
			<div class="solution_bene left">
			  <h3><b>Benefits</b></h3>
			  <ul>
			  	<li>
			  		Improve facility bill payment accuracy up to 10%
			  	</li>
					<li>
						Reduces expenditures up to $4 PMPM
					</li>
					<li>
						Decrease targeted claim costs up to 20%
					</li>
			  </ul>
			</div>
	    <%= clear %>
	  </div>
	</div>	


  <div class="top_stripe dci_light_bg "></div>
  <div class="bottom_stripe dci_dark_bg ">
    <div class="stripe_icon dci"></div>
  </div>
</div>

<%= render :partial => "payment_accuracy/service_links" %> 