<% content_for :banner do %>
	<%= image_tag('verisk/banners/claims_editing_banner.png') %>
	<%= demo %>
<% end %>

<div id="service_mid_section" class="claims">
  <div class="service_mid_section_image"></div>
  <div class="service_mid_section_content">
    <h2 class="title">
    	Real-Time Claims Editing.
		</h2>
		<p>
		 By combining over 17 million rules, transparent open-sourced edits and sub-second batch processing we built the best real-time editor in the business. The end result delivers superior auto-adjudication rates, more efficient processing and the clinical validation of suspect claims. This comprehensive process drives the in ultimate waste prevention and cost-containment solutions.    
		</p>
		<div id="small_quote">
		  <div class="quote blue claims">
			"We have seen tremendous success in reducing medical costs for the health plan while working collaboratively with providers.”
		    <!-- <span class="row_1">“Verisk Health clients have access to the most</span>
		    <span class="row_2"> advanved, comprehensive code editing and</span>
		    <span class="row_3">profiling application available.”</span> -->
		  </div>
  		<div class="quote_signature">– Joanne Rodd, Senior VP of Operations, Royal Healthcare</div>
		</div>
  </div>
</div>

<div id="problem_solution_boxes">
  <div class="pro_sol_boxes problem_box">
  	<h2 class="thick_thin_header">The Problem &ndash; Waste Payment</h2>
  	<p>The sooner you spot abuse, the more you save. By catching errors and abuse early, you improve accuracy, save precious time and resources and avoid the difficult task of reimbursement through the outdated model of retrospective collection.</p>
  	<div class="graph_box claims_graph"></div>
	</div>

	<div class="pro_sol_boxes solution_box dci_sol_box_bg">
	  <h2 class="thick_thin_header">The Solution &ndash; Claims Editing</h2>
	  <div class="solution_grid">
			<div class="solution_bene left">
			  <h3><b>Features</b></h3>
				<ul>
					<li>
						Can processes claims simultaneously against full patient history
					</li>
					<li>
						Solutions allow providers to correct miscoded claims for resubmission
					</li>
					<li>
						Trend analysis and variance reporting for strategic decision-making
					</li>
					<li>
						Reports quantify both ROI and implication of policy implementations
					</li>
					<li>
						Improved transparency: 100% open-sourced edits through CMS and AMA
					</li>
					<li>
						Processes claim history, policy customizations and edits in 350 milliseconds
					</li>
					<li>
						Clinical Review of complex edit combinations
					</li>
				</ul>
			</div>
			<div class="solution_bene left">
			  <h3><b>Benefits</b></h3>
			  <ul>
			  	<li>
			  		Increase savings an additional 5% above current editor
			  	</li>
					<li>
						Increased auto-adjudication and first pass rates
					</li>
					<li>
						Achieve ROI of 12:1 or greater
					</li>
			  </ul>
			</div>
	    <%= clear %>
	  </div>
	</div>	


  <div class="top_stripe dci_light_bg "></div>
  <div class="bottom_stripe dci_dark_bg ">
    <div class="stripe_icon dci"></div>
  </div>
</div>
<%= render :partial => "payment_accuracy/service_links" %> 

