<% content_for :banner do %>
	<%= image_tag('verisk/banners/fraud_prevention_banner.png') %>
	<%= demo %>
<% end %>
<div id="service_mid_section" class="fraud">
  <div class="service_mid_section_image"></div>
  <div class="service_mid_section_content">
    <h2 class="title">
    	Next Generation Fraud Prevention.
		</h2>
		<p>
		 We designed the ideal user experience in a fraud detection platform. Deftly leveraging predictive analytics, link analysis and robust databases we created a innovative provider scoring model, dynamic graphs and interactive data. Because only users armed with the most effective tools and payment suggestions can achieve pinpoint payment accuracy.  
		</p>
		<div id="small_quote">
		  <div class="quote2 blue">
		    <span class="row_1">"We have experienced positive changes in</span>
		    <span class="row_2">provider billing habits resulting in significant savings."</span>
		    <!-- <span class="row_3">significant savings."</span> -->
		  </div>
  		<div class="quote_signature">- Mary Alice Garcia, BA, CPC Medicaid MCO</div>
		</div>
  </div>
</div>
  
<div id="problem_solution_boxes">
  <div class="pro_sol_boxes_fraud problem_box">
  	<h2 class="thick_thin_header">The Problem &ndash; Fraud and Waste</h2>
  	<p>Add up these four other areas of fraud and you still fall $100 Billion short of the estimated healthcare fraud this country will face this year. To combat the problem it takes clinical expertise, robust analytics and a next generation technology platform that increases productivity and decreases your fraud exposure.</p>
  	<div class="graph_box fraud_graph"></div>
	</div>

	<div class="pro_sol_boxes_fraud solution_box dci_sol_box_bg">
	  <h2 class="thick_thin_header">The Solution &ndash; Fraud Finder</h2>
	  <div class="solution_grid">
			<div class="solution_bene left">
			  <h3><b>Features</b></h3>
				<ul>
					<li>
						Daily notifications of suspect providers and claims
					</li>
					<li>
						Customizable, productivity-driven user interface
					</li>
					<li>
						Seamless integration with every payment process type
					</li>
					<li>
						Total security: HIPPA and URAC accredited; SAS 70 completed audit
					</li>
					<li>
						Clinical review of all flagged claims and providers
					</li>
					<li>
						Prepayment analysis on 100% of professional claims
					</li>
					<li>
						Fully-integrated case tracking system
					</li>
					<li>
						Advanced case&ndash;tracking system
					</li>
				</ul>
			</div>
			<div class="solution_bene left">
			  <h3><b>Benefits</b></h3>
			  <ul>
			  	<li>
			  		Reduce expenditures up to $4 PMPM
			  	</li>
					<li>
						Increase annual profitability up to 5%
					</li>
					<li>
						Improve claims payment accuracy up to 10%
					</li>
			  </ul>
			</div>
	    <%= clear %>
	  </div>
	</div>	


  <div class="top_stripe dci_light_bg "></div>
  <div class="bottom_stripe dci_dark_bg ">
    <div class="stripe_icon dci"></div>
  </div>
</div>
<%= render :partial => "payment_accuracy/service_links" %> 