<% content_for :banner do %>
	<div id="home_banner">
		<div class="banner_wrap banner1">
			<%= image_tag('verisk/banners/home_opener.jpg') %>
		</div>
		<div class="banner_wrap banner2">
			<%= image_tag('verisk/banners/home_banner.png') %>
			<%= demo %>
		</div>
	</div>
<% end %>
<% content_for :sub_boxes do %>
	<p class="home_text">
		Our solutions for private and public payers ensure our customers pay right and save money. At the core of our solutions is our real-time rules engine, which processes and validates claims in sub-second time. Built on this engine are our Claims Editing and Fraud Prevention solutions. Unique to the claim and fraud processing is our expert clinical validation process that improves claim recommendations. Our software platform, Nucleus, delivers a user experience through a Saas model that accelerates productivity through leadership-level reports, a customizable interface and dynamic fraud scoring models. At Verisk Health, our solutions do more than just improve accuracy, they improve savings.
	</p>
 	<!-- <header>Do you have a fraud problem? We have your solution?</header> -->
 	<%= render :partial => 'shared/sub_boxes/sub_boxes' %>
 	<div id="full_quote">
	  <div class="quote blue">
	    <span class="row_1">"Verisk Health has prevented the payment of</span>
	    <span class="row_3">over $5 million in  inappropriate charges"</span>
	  </div>
	  <div class="quote_signature">- Michael De Chellis, Operating Engineers Trust Funds Inc.</div>
	</div>
<% end %>

<% content_for :javascripts do %>
	<script type="text/javascript">
    $(document).ready(function() {
      Banners.initHomeBanner();
    });
  </script>
<% end %>
