<% content_for :banner do %>
	<div id="home_banner">
		<div class="banner_wrap banner1">
			<%= image_tag('verisk/banners/home_opener.jpg') %>
		</div>
		<div class="banner_wrap banner2">
			<%= image_tag('verisk/banners/home_banner.png') %>
			<%= demo %>
		</div>
	</div>
<% end %>
<% content_for :sub_boxes do %>
	<p class="home_text">
		Our solutions help private and public payers of all types, pay right and save money. Core to these solutions is our real-time rules engine, which processes and validates claims in sub-second time. Created within the engine are our Claims Editing and Fraud Prevention solutions, which edit and flag suspect claims, before delivering them to clinical experts for validation. Our software platform, Nucleus, delivers a user experience through a SaaS model that accelerates productivity through leadership-level reports, a customizable interface and dynamic fraud scoring models. At Verisk Health, our solutions do more than just improve accuracy, they improve savings.
	</p>
 	<!-- <header>Do you have a fraud problem? We have your solution?</header> -->
 	<%= render :partial => 'shared/sub_boxes/sub_boxes' %>
 	<div id="full_quote">
	  <div class="quote blue">
	    <span class="row_1">"Verisk Health has prevented the payment of</span>
	    <span class="row_3">over $5 million in  inappropriate charges"</span>
	  </div>
	  <div class="quote_signature">- Michael De Chellis, Operating Engineers Trust Funds Inc.</div>
	</div>
<% end %>

<% content_for :javascripts do %>
	<script type="text/javascript">
    $(document).ready(function() {
      Banners.initHomeBanner();
    });
  </script>
<% end %>
