<div class="gray_box thin">
  <div class="gray_sub_box first">
    <span class="top_title">Verisk Health</span>
    <h2 class="blue">Operating Hours</h2>
    <p>
      7:00 A.M. - 6:00 P.M. (MST)<br/>
      Monday - Friday<br/>
      Toll Free - 877-619-5557<br/>
    </p>
  </div>
  <div class="gray_sub_box">
    <span class="top_title">Utah Office</span>
    <h2 class="blue">Salt Lake City</h2>
    <p>
      10897 S. River Front Parkway, Suite 200<br/>
      South Jordan, Utah 84095<br/>
      P. 801-285-5800  F. 801-285-5801<br/>
    </p>
  </div>
  <div class="gray_sub_box">
    <span class="top_title">North Carolina Office</span>
    <h2 class="blue">Raleigh-Durham</h2>
    <p>
			Research Triangle Park<br />
      630 Davis Drive Suite 210<br/>
      Durham, NC 27713<br/>
      P. 919-313-1600  F. 919-313-1699<br/>
    </p>
  </div>
</div>