<div class="sub_box_wrap">
  <div class="sub_box">
    <h3>Get A Demo.</h3>
    <h3 class="sub_title">Let us show you what we can do.</h3>
    <%= link_to(image_tag("verisk/sub_boxes/home_demo.png", :alt => "Nucleus DEmo"), more_info_path) %>
  </div>
  <div class="sub_box">
    <h3>Be In Your Element.</h3>
    <h3 class="sub_title">Advanced Payment Accuracy.</h3>
    <%= link_to(image_tag("verisk/sub_boxes/home_nucleus.png", :alt => "HealthCare Insight Services"), nucleus_path) %>
  </div>
  <div class="sub_box">
    <h3>Profiler Magazine.</h3>
    <h3 class="sub_title">Get a Free Subscription Here.</h3>
    <%= link_to(image_tag("verisk/sub_boxes/home_profiler.png", :alt => "Nucleus Saas Solution"), "http://www.profilermag.com") %>
  </div>
</div>