<div id="grid">
  <div class="inner_grid">
    <div class="grid_box left_side_box odd_row">
      <div class="grid_image bene2"></div>
      <div class="grid_content_wrap">      
        <h3>Clinical Validation = Better Results.</h3>
        <p>
          Only HCI provides clinical validation on suspect
          claims by licensed clinicians (RN, MD, DDS, etc.)
          You get fewer false positives and better results.
        </p>
      </div>
    </div>
    <div class="grid_box right_side_box odd_row">
      <div class="grid_image bene3"></div>
      <div class="grid_content_wrap">      
        <h3>Prepayment Saves Time, Money.</h3>
        <p>
          Each HCI SaaS solution lives in a prepayment,
          post-adjudication environment. Why? Because
          &#8220;pay and chase&#8221; can waste time and money.
        </p>
      </div>
    </div>
    <div class="grid_box left_side_box even_row last_row">
      <div class="grid_image bene4"></div>
      <div class="grid_content_wrap">      
        <h3>Total Customization, Satisfaction.</h3>
        <p>
          No two payors are the same. Our solutions 
          allow you to customize nearly every aspect.
          This gives you greater control and happiness.
        </p>
      </div>
    </div>
    <div class="grid_box right_side_box even_row last_row">
      <div class="grid_image bene7"></div>
      <div class="grid_content_wrap">      
        <h3>SaaS Saves Headaches, Cash.</h3>
        <p>
          No more licensing fees, upgrade fees, user fees
          and long implementations. Our web-based SaaS solutions install fast and save money.
        </p>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>