<div class="sector_grid">
  <%= image_tag("markets/health_plans.jpg")%>
  <h3 class="green">Health Plans</h3>
  <p>
    Ensure your plan’s claims are 
    free of fraud, abuse and waste.
  </p>
</div>
<div class="sector_grid">
  <%= image_tag("markets/mco2.jpg")%>
  <h3 class="green">MCO's</h3>
  <p>
    Reduce PMPM expenditures with 
    comprehensive payment integrity.
  </p>
</div>
<div class="sector_grid">
  <%= image_tag("markets/insurance_carriers.jpg")%>
  <h3 class="green">Insurance Carriers</h3>
  <p>
    Control your Taft Hartley Funds’ 
    rising costs with fraud control.
  </p>
</div>
<div class="sector_grid">
  <%= image_tag("markets/tpa.jpg")%>
  <h3 class="green">TPA's</h3>
  <p>
    Reduce your client’s health costs 
    by preventing fraud and abuse.
  </p>
</div>