<div class="sector_grid">
  <%= image_tag("markets/property_casualty.jpg")%>
  <h3 class="green">Property &amp; Casualty</h3>
  <p>
    Ensure your medical claims are<br/>
    free of fraud, abuse and waste.
  </p>
</div>
<div class="sector_grid">
  <%= image_tag("markets/workers_comp.jpg")%>
  <h3 class="green">Workers Comp</h3>
  <p>
    Reduce your workers comp<br/>
    health costs with fraud control.
  </p>
</div>
<div class="sector_grid">
  <%= image_tag("markets/auto.jpg")%>
  <h3 class="green">Auto Insurers</h3>
  <p>
    Control rising medical costs<br/>
    with fraud and waste prevention.
  </p>
</div>
<div class="sector_grid">
  <%= image_tag("markets/liability.jpg")%>
  <h3 class="green">Liability Carriers</h3>
  <p>
    Decrease your health care spend<br/>
    with fraud and abuse prevention.
  </p>
</div>