<div class="sector_grid">
  <%= image_tag("markets/medicaid.jpg")%>
  <h3 class="title_color">Medicaid States</h3>
  <p>
    Combat Medicaid state budget shortfalls with payment integrity.
  </p>
</div>
<div class="sector_grid">
  <%= image_tag("markets/medicare_advantage.jpg")%>
  <h3 class="title_color">Medicare Advantage</h3>
  <p>
    Reduce Medicare Advantage claims costs with fraud control.
  </p>
</div>
<div class="sector_grid">
  <%= image_tag("markets/mco.jpg")%>
  <h3 class="title_color">Medicaid MCOs</h3>
  <p>
    Ensure regulatory compliance with Medicaid program integrity.
  </p>
</div>
<div class="sector_grid">
  <%= image_tag("markets/snps.jpg")%>
  <h3 class="title_color">Special Needs Plans</h3>
  <p>
    Combat rising special needs plan costs by fighting fraud and waste.
  </p>
</div>