<div id="footer_top" class="clearfix">
  <div id="footer_top_left">
	<p>are now a part of the Verisk Health Payment Accuracy Division.</p>
  </div>
  <div id="footer_top_right">
    <%= render :partial => "shared/footer/footer_nav" %>
  </div>
</div>
<div id="verisk_footer_logo">
  <%= link_to "", "http://www.veriskhealth.com", :title => "Verisk Health" %>
</div>
