<div id="footer_top" class="clearfix">
  <div id="footer_top_left">
    <%#= render :partial => "shared/footer/social_links" %>
  </div>
  <div id="footer_top_right">
    <%= render :partial => "shared/footer/footer_nav" %>
  </div>
</div>
<div id="verisk_footer_logo">
  <%= link_to "", "http://www.veriskhealth.com", :title => "Verisk Health" %>
</div>
